<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>关于我们</title>
  <link rel="stylesheet" href="/stylesheets/zh/about-us.css">
</head>
<body>
<div id="main">
    
  <div class="header-wrap">
    <div class="share layout clearfix">
      <div class="share-app">
        <a class="facebook" target="_blank" href="https://www.facebook.com/abclauncher/"></a>
        <a class="pinterest" target="_blank" href="https://www.pinterest.com/abclauncher/"></a>
        <a class="twitter" target="_blank" href="https://www.twitter.com/abclauncher/"></a>
      </div>
      <p class="phone-number">联系我们：pm@abclauncher.com</p>
    </div><!-- /.share -->
    <div class="header">
      <div class="layout clearfix">
        <div class="logo">
          <a href="/"></a>
        </div>
        <div class="nav">
          <ul class="clearfix">
            <li><a href="/">首页</a></li>
            <li><a href="/themes-list/">主题</a></li>
            <li><a href="/logs/">更新日志</a></li>
            <li><a href="/help/">帮助支持</a></li>
            <li><a class="select" href="/about-us/">关于我们</a></li>
          </ul>
        </div><!-- /.nav -->
      </div><!-- /.layout -->
    </div><!-- /.header -->
  </div><!-- /.header-wrap -->

  <div class="content layout">
    <div class="module-title">
      <h2><span>公司介绍</span></h2>
    </div>
    <div class="text indent">
      <img src="/images/theme-banner-1.jpg" alt="">
      <p>ABC Launcher团队成立于2015年，ABC桌面是ABC Launcher团队的核心产品，致力于全国排名在前的第三方桌面产品。</p>
      <p>2015年是最火热的话题之一无疑是“创业”，大众创业，万众创新，成为国家经济政策。但2015年也是创业极为艰难的一年，资本市场遭遇史上最严重的股灾，GDP增速破7，国际经济形势也异常严峻。但即便如此，创业和创新仍旧如火如荼。ABC Launcher团队在这样的背景下应运而生，鉴于移动端用户的爆发式增长，国内市场环境的复杂，ABC Launcher 团队确立了“移动端，出海”这样一个基本的战略定位。</p>
      <p>筚路蓝缕，以启山林。顺应时代发展趋势，背靠北航，北邮，北京理工，北京科技等高等学府，人才济济，ABC Launcher 团队相信未来一定大有可为，乘风破浪，指日可待。</p>
      <p>“美化手机，美化生活，让智能手机更智能”是我们的追求，雄心万丈，一往无前。</p>
    </div>
    <div class="module-title">
      <h2><span>企业文化</span></h2>
    </div>
    <div class="text">
      <p>“美化手机，美化生活，让智能手机更智能”是我们的追求，雄心万丈，一往无前。</p>
      <p>我们奉行“正直，简单，高效，舒适”的企业文化。</p>
      <p>正直，有勇气坚持自己的信念，有能力去坚持我们认为是正确的东西。能保持着高贵与正直，即使在财富地位上没有大收获，内心也是快乐和满足的。</p>
      <p>简单，没有繁杂冗长的会议，没有复杂的人际关系，没有形式主义，没有繁文缛节，完全扁平化的管理，主张坦诚沟通。</p>
      <p>高效，最高的效率，最好的效果，我们既追求Efficiency，也追求Effectiveness.</p>
      <p>舒适，外在的和谐与内在的自由，只有和谐，才能共生，彼此独立又统一。</p>
    </div>
    <div class="module-title">
      <h2><span>我们的使命</span></h2>
    </div>
    <div class="text">
      <p>我们奉行“正直，简单，高效，舒适”的企业文化，我们是有梦想的团队！</p>
    </div>
  </div><!-- /.content -->
  
  <% include footer.ejs %>
  
</div>
</body>
</html>