<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>关于ABC</title>
  <link rel="stylesheet" href="/stylesheets/zh/about-abc.css">
</head>
<body>
<div id="main">
  
  <% include header.ejs %>

  <div class="about-abc content layout clearfix">
    <div class="title">关于ABC</div>
    <div class="desc">
      <p>ABC桌面，就像读英文字母A、B、C一样简单，ABC桌面的”简单“是我们追求的目标，是我们的企业文化的象征。</p>
      <ul>
        <li>我们是一群有梦想，对工作充满热情的创业青年。</li>
        <li>我们是一群追求简单，对一切事物都想要简单创业青年。</li>
        <li>我们是一群坚持自己的信念，有勇气、有干劲的青年。</li>
        <li>我们是一群充满正义感，待同事为家人般的有为青年。</li>
      </ul>
      <p>ABC桌面专注于为用户打造简单、方便、快速的手机用户桌面，让用户感受最佳的手机体验。它不仅限于美化桌面，它提供智能化的文件夹、一键清理内存、提供个性化的主题，时刻保持您的手机处于轻轻松松的状态，达到为手机”减负“的效果，更为您的方便使用和个性化的主题而制作。让你的手机在每一天都是那么炫酷，让您无时无刻都那么个性。</p>
    </div>
  </div>

  <% include footer.ejs %>

</div>
</body>
</html>