<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>联系我们</title>
  <link rel="stylesheet" href="/stylesheets/zh/about-abc.css">
</head>
<body>
<div id="main">
    
  <% include header.ejs %>

  <div class="contact-us content layout clearfix">
    <div class="title">联系我们</div>
    <div class="desc">
      <p class="no-space">联系我们</p>
      <p>ABC团队非常重视您的反馈意见。如您有任何问题或建议，请与我们联系，ABC团队
会尽快回复您的反馈。</p>
      <p class="space">产品问题，请联系：pm@abclauncher.com</p>
      <P>合作需求，请联系：bd@abclauncher.com</P>
      <P>报告恶意推广，请联系：report@abclauncher.com</P>
    </div>
  </div>

  <% include footer.ejs %>
  
</div>
</body>
</html>