<div class="footer">
  <p class="appliv_link">
    <a href="http://app-liv.com" target="_blank" rel="nofollow">Android App Discovery Website</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="http://app-liv.com/" target="_blank" rel="nofollow">iPhone App Discovery Website</a>&nbsp;
  </p>
  <p>
    <a href="/about-abc/">关于ABC</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/licence/">版权声明</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/privacy/">隐私政策</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/terms-of-service/">服务条款</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/contact-us/">联系我们</a>
  </p>
  <p>@Copyright 2015-2016 ABC Launcher 版权所有</p>
  <p>ABC Launcher团队&nbsp;&nbsp;&nbsp;&nbsp;香港湾仔骆克道300号侨阜商业大厦20A室</p>
</div><!-- /.footer -->
