<div class="header-wrap">
  <div class="share layout clearfix">
    <div class="share-app">
      <a class="facebook" target="_blank" href="https://www.facebook.com/abclauncher/"></a>
    <a class="pinterest" target="_blank" href="https://www.pinterest.com/abclauncher/"></a>
    <a class="twitter" target="_blank" href="https://www.twitter.com/abclauncher/"></a>
    </div>
    <p class="phone-number">联系我们：pm@abclauncher.com</p>
  </div><!-- /.share -->
  <div class="header">
    <div class="layout clearfix">
      <div class="logo">
        <a href="/"></a>
      </div>
      <div class="nav">
        <ul class="clearfix">
          <li><a href="/">首页</a></li>
          <li><a href="/themes-list/">主题</a></li>
          <li><a href="/logs/">更新日志</a></li>
          <li><a href="/help/">帮助支持</a></li>
          <li><a href="/about-us/">关于我们</a></li>
        </ul>
      </div><!-- /.nav -->
    </div><!-- /.layout -->
  </div><!-- /.header -->
</div><!-- /.header-wrap -->