<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>帮助支持</title>
  <link rel="stylesheet" href="/stylesheets/zh/help.css">
</head>
<body>
<div id="main">
    
  <div class="header-wrap">
    <div class="share layout clearfix">
      <div class="share-app">
        <a class="facebook" target="_blank" href="https://www.facebook.com/abclauncher/"></a>
      <a class="pinterest" target="_blank" href="https://www.pinterest.com/abclauncher/"></a>
      <a class="twitter" target="_blank" href="https://www.twitter.com/abclauncher/"></a>
      </div>
      <p class="phone-number">联系我们：pm@abclauncher.com</p>
    </div><!-- /.share -->
    <div class="header">
      <div class="layout clearfix">
        <div class="logo">
          <a href="/"></a>
        </div>
        <div class="nav">
          <ul class="clearfix">
            <li><a href="/">首页</a></li>
            <li><a href="/themes-list/">主题</a></li>
            <li><a href="/logs/">更新日志</a></li>
            <li><a class="select" href="/help/">帮助支持</a></li>
            <li><a href="/about-us/">关于我们</a></li>
          </ul>
        </div><!-- /.nav -->
      </div><!-- /.layout -->
    </div><!-- /.header -->
  </div><!-- /.header-wrap -->

  <div class="content layout">
    <div class="module-title">
      <h2><span>常见问题</span></h2>
    </div><!-- /.module-title -->
    <div class="list">
      <ul>
        <li>
          <div class="question clearfix">
            <em>Q</em>
            <h3>我的手机可以能使用ABC桌面吗？</h3>
          </div>
          <div class="answer clearfix">
            <em>A</em>
            <div class="con">
              <p>安卓手机Android4.1及以上版本都可以使用</p>
            </div>
          </div>
        </li>
        <li>
          <div class="question clearfix">
            <em>Q</em>
            <h3>如何安装ABC桌面？</h3>
          </div>
          <div class="answer clearfix">
            <em>A</em>
            <div class="con">
              <p>使用ABC助手、安卓应用市场等应用市场搜索“ABC桌面”即可下载安装<br/>或者在ABC官网下载</p>
            </div>
          </div>
        </li>
        <li>
          <div class="question clearfix">
            <em>Q</em>
            <h3>如何由其他桌面切换至ABC桌面？</h3>
          </div>
          <div class="answer clearfix">
            <em>A</em>
            <div class="con">
              <p>点击HOME键，在弹出的选项栏中选择“ABC”桌面，即可切换，建议将ABC设置为默认桌面哦</p>
            </div>
          </div>
        </li>
        <li>
          <div class="question clearfix">
            <em>Q</em>
            <h3>ABC桌面有什么功能？</h3>
          </div>
          <div class="answer clearfix">
            <em>A</em>
            <div class="con">
              <p>1、海量壁纸在线下载，每日上新，全面美化您的设备</p>
              <p>2、百套多彩主题供您选择，百变蒙板搭配个性壁纸，构建全新主题理念</p>
              <p>3、内存清理，一键点击即可释放内存，优化设备运行速度</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div><!-- /.content -->
  
  <% include footer.ejs %>
  
</div>
</body>
</html>