<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ABClauncher</title>
  <link rel="stylesheet" href="/stylesheets/zh/index.css">
</head>
<body>
  <div class="header">
    <div class="layout clearfix">
      <div class="logo">
        <a href="/"></a>
      </div>
      <div class="nav">
        <ul class="clearfix">
          <li><a class="select" href="/">首页</a></li>
          <li><a href="/themes-list/">主题</a></li>
          <li><a href="/logs/">更新日志</a></li>
          <li><a href="/help/">帮助支持</a></li>
          <li><a href="/about-us/">关于我们</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="banner">
    <div class="content layout clearfix">
      <div class="desc">
        <h1><strong>ABC</strong>&nbsp;&nbsp;你的极致手机助手</h1>
        <ul>
          <li>
            <i></i>
            <strong>智能</strong>
            <span>一键下载，桌面干净、整洁</span>
          </li>
          <li>
            <i></i>
            <strong>快速</strong>
            <span>一键加速，手机保持最佳状态</span>
          </li>
          <li>
            <i></i>
            <strong>精美</strong>
            <span>个性化主题，随你选，任你挑</span>
          </li>
        </ul>
      </div><!-- /.decs -->
      <div class="download">
        <div class="qr-code">
          <img src="/images/launcher-qr-code.jpg" alt="">
        </div>
        <!-- <p class="download-btn1">
          <a href="http://api.abclauncher.com/abclauncher.apk">立即下载</a>
        </p> -->
        <p class="download-btn2">
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.abclauncher.launcher">GET IT ON Google play</a>
        </p>
      </div>
      <div class="web_link">
        <p><a href="http://app-liv.com/android/en/2845808" target="_blank" rel="nofollow">在Appliv查看ABC Launcher - Boost, Clean！</a></p>
        <p><a href="http://app-liv.com/android/en/2960667" target="_blank" rel="nofollow">在Appliv查看COK主题！</a></p>
        <p><a href="http://app-liv.com/android/en/3297323" target="_blank" rel="nofollow">在Appliv查看Euro 2016主题桌面！</a></p>
      </div>
    </div><!-- /.content -->
  </div><!-- /.banner -->

  <div class="function layout">
    <div class="module-title">
      <h2><span>主要功能</span></h2>
    </div><!-- /.module-title -->
    <div class="content">
      <ul class="clearfix">
        <li class="desc1 desc-case">
          <i></i>
          <strong>智能文件夹</strong>
          <p><span>将桌面零碎的图标快速归类到文件夹，简单、快速、整洁</span></p>
        </li>
        <li class="desc2 desc-case">
          <i></i>
          <strong>一键加速</strong>
          <p><span>一键清理手机内存，让你的手机轻轻松松</span></p>
        </li>
        <li class="desc3 desc-case">
          <i></i>
          <strong>精美主题</strong>
          <p><span>个性化的主题，随你挑，任你选，让你的手机更炫更酷</span></p>
        </li>
        <li class="desc4 desc-case">
          <i></i>
          <strong>快速搜索</strong>
          <p><span>输入关键词即可搜索你想要搜索的内容,方便快速</span></p>
        </li>
      </ul>  
    </div><!-- /.content -->
  </div><!-- /.function -->

  <div class="theme layout">
    <div class="module-title">
      <h2><span>精选主题</span></h2>
    </div><!-- /.module-title -->
    <div class="theme-list">
      <ul class="clearfix">
        <% for(var i=0;i<8;i++){ %>
          <li>
            <a href="/theme/=000<%=i%>">
              <img src="/themes/000<%=i%>/theme_preview_1.jpg" alt="">
              <div>
                <strong><%=data[i]['title']%></strong>
                <p><%=data[i]['describe']%></p>
              </div>
            </a>
          </li>
        <% } %>
      </ul>
      <p class="theme-more"><a href="/themes-list/">更多主题>></a></p>
    </div>
  </div><!-- /.theme -->

  <% include footer.ejs %>
  

</body>
</html>