<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>关于ABC Launcher</title>
  <link rel="stylesheet" href="/stylesheets/zh/about-abc.css">
</head>
<body>
<div id="main">
  
  <% include header.ejs %>

  <div class="content layout clearfix">
    <div class="title">版权声明</div>
    <div class="desc">
      <p>为保证本网站的正常发展、规避意外风险，为了向用户提供不间断的优质服务。因此，建议您在接受本站服务之前，请务必仔细阅读本条款。</p>
      <p>第一：ABC有权将在站内原创发表的包括但不限于文字、软件、图片、声音、视频等用于包括网站、光盘出版等用途，有附带版权声明者除外。以非商业性赢利性为目的的使用者在取得作品的原版权所有者同意后才能转载本站原创文章，转载时需严格遵守著作权法以及其他相关法律的规定，转载时请注明"来源：ABC"及相关作者。</p>
      <p>第二： ABC桌面部分由读者推荐或编辑摘引的信息内容，包括但不限于文字、软件、图片、声音、视频等，可能转载自其它网站或报刊，此类内容的版权属原作者或出版人所有。 ABC桌面转载这些文章是出于传递更多信息之目的，并不代表 ABC桌面故意侵犯原作者或出版人的版权和利益。 ABC桌面尊重知识产权，要求所有转载文章均需注明作者和来源。但有时由于特殊的原因，比如作者姓名或出处在转载之前已经丢失，或者未能及时与作者取得联系等，因而可能没有注明作者的姓名或出处。 ABC桌面在此郑重申明对原作者和出版人的尊重和感谢，并以宣传原作者和出版人作为回报。如果原作者或出版人对此有任何异议，请在两周内速来信与我们联系，我们定当聆听您的意见并遵旨酌办。</p>
      <p>第三： ABC桌面仅创建用户沟通交流的平台，所展示的手机软件、主题、壁纸、铃声、小说等手机资源均为网友上传分享及部分资源提供商授权发布，所有上述资源仅作为用户间分享讨论之用，除开发商授权外不以盈利为目的。如果上述资源版权所有人对此有任何异议，请在两周内速来信与我们联系，我们定当聆听您的意见并严格按照法律程序酌办。</p>
      <p>第四：在第三方软件发布平台、手机壁纸和手机主题等由用户自主发布信息内容公共区域发布的信息内容，请严格遵守《中华人民共和国版权法》、《中华人民共和国著作权法实施条例》等相关其他法律的规定，任何转载或转贴都应注明真实作者和真实出处。本网站既鼓励用户以原创写作，也鼓励用户通过张贴文章、"摘要+超链接"以及转贴的方式推荐转载文章，但在这些公共区域出现的所有资源，包括文字、视频、图片等，无论原创还是转载，版权均属资源本身版权所有人拥有，本站绝无侵犯其版权之意图。如果作者对版权有异议，本站核实后将及时删除。</p>
      <p>第五：任何由于计算机2000年问题、黑客攻击、计算机病毒侵入或发作，因政府管制而造成的暂时性关闭等影响网络正常浏览的不可抗力而造成的个人资料泄露、丢失、被盗用或被窜改等，本网站均得免责。如因系统维护或升级而需暂停服务时，将事先公告。若因线路及非本网站控制范围外的硬件故障或其它不可抗力而导致暂停服务，于暂停服务期间造成的一切不便与损失，本网站不负任何责任。</p>
      <p>第六： 本声明未涉及的问题参见国家有关法律法规，当本声明与国家法律法规冲突时，以国家法律法规为准。本声明的修改及更新权均属于ABC桌面所有。</p>
    </div>
  </div>

  <% include footer.ejs %>
  
</div>
</body>
</html>