<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>更新日志</title>
  <link rel="stylesheet" href="/stylesheets/zh/logs.css">
</head>
<body>
<div id="main">
  <div class="header-wrap">
    <div class="share layout clearfix">
      <div class="share-app">
        <a class="facebook" target="_blank" href="https://www.facebook.com/abclauncher/"></a>
      <a class="pinterest" target="_blank" href="https://www.pinterest.com/abclauncher/"></a>
      <a class="twitter" target="_blank" href="https://www.twitter.com/abclauncher/"></a>
      </div>
      <p class="phone-number">联系我们：pm@abclauncher.com</p>
    </div><!-- /.share -->
    <div class="header">
      <div class="layout clearfix">
        <div class="logo">
          <a href="/"></a>
        </div>
        <div class="nav">
          <ul class="clearfix">
            <li><a href="/">首页</a></li>
            <li><a href="/themes-list/">主题</a></li>
            <li><a class="select" href="/logs/">更新日志</a></li>
            <li><a href="/help/">帮助支持</a></li>
            <li><a href="/about-us/">关于我们</a></li>
          </ul>
        </div><!-- /.nav -->
      </div><!-- /.layout -->
    </div><!-- /.header -->
  </div><!-- /.header-wrap -->

  <div class="content layout">
    <div class="module-title">
      <h2><span>更新日志</span></h2>
    </div><!-- /.module-title -->
    <div class="list">  
      <ul>
      	<li class="lasted">
      		<div class="version clearfix">
      			<h3>ABC桌面安卓1.0版本发布</h3>
      			<span>2016-01-08</span>
      		</div>
					<p class="download-btn">
						<a target="_blank" href="https://play.google.com/store/apps/details?id=com.abclauncher.launcher">立即下载</a>
					</p>
					<ol>
						<li>1  智能文件夹：将你桌面上零碎的图标快速归类整理到文件夹中，省时、省力，快速还你干净整洁的桌面！</li>
						<li>2  一键加速：一键清理手机内存，让你的手机时刻轻松，处于最佳状态</li>
						<li>3  精美化主题：个性化的主题、个性化的你，随时挑选你的最爱，赶快去挑一挑吧！</li>
						<li>4  快速搜索：ABC给你按照英文字母顺序排序，快速搜到自己的应用哦，真的很方便哟！</li>
					</ol>
      	</li>
      </ul>
    </div>
    

  </div><!-- /.content -->
  

  <% include footer.ejs %>
  
</div>
</body>
</html>