<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>隐私政策</title>
  <link rel="stylesheet" href="/stylesheets/zh/about-abc.css">
</head>
<body>
<div id="main">
  
  <% include header.ejs %>

  <div class="content layout clearfix">
    <div class="title">隐私政策</div>
    <div class="desc">
      <p>ABC桌面非常重视用户信息的保护，有时候我们需要某些信息才能为您提供您请求的服务，本隐私政策解释了在你使用ABC桌面时的数据收集、使用情况和保护您个人信息情况。一旦您选择使用ABC桌面，即表示您认可并接受本条款现有内容及其可能随时更新的内容。</p>
      <br>
      <h3>一、信息收集和使用：</h3>
      <p><strong>读取手机状态和身份</strong></p>
      <p>判断是否有来电，以此控制界面进行配合切换</p>
      <p><strong>读取您的文字讯息（短信或彩信）</strong></p>
      <p>仅用于本地搜索短信，不会上传任何短信内容信息</p>
      <p><strong>拍摄照片和视频</strong></p>
      <p>用于智能设置和通知栏快捷方式，打开／关闭闪光灯</p>
      <p><strong>大概位置（基于网络）</strong></p>
      <p>用于雷达功能，为用户推荐身边其他人正在使用的热门应用</p>
      <p><strong>读取您的通讯录</strong></p>
      <p>仅用于本地搜索联系人，不会上传任何联系人信息</p>
      <p><strong>读取日历活动和机密信息</strong></p>
      <p>仅用于在风铃里展示最近日程提醒，不会上传任何日程内容信息</p>
      <p><strong>修改或删除您的USB存储设备中的内容</strong></p>
      <p>用户可删除下载保存在SD卡中的ABC Launcher壁纸</p>
      <p><strong>读取您的USB存储设备中的内容</strong></p>
      <p>用户可读取保存在SD卡中的壁纸图片</p>
      <p><strong>设置闹钟</strong></p>
      <p>用于点击时钟小部件之后，进入系统的闹钟设置界面</p>
      <p><strong>查找设备上的帐户</strong></p>
      <p>用于检查用户是否登录Google Play，提供相应的安装下载服务</p>
      <p><strong>读取 Google 服务配置</strong></p>
      <p>用于读取广告ID，依靠这一匿名ID向用户提供更准确的广告服务</p>
      <p><strong>更改网络连接</strong></p>
      <p>用于智能设置和通知栏快捷开关，实现开启／关闭移动数据</p>
      <p><strong>连接 WLAN 和断开连接</strong></p>
      <p>用于智能设置和通知栏快捷开关，实现开启／关闭无线局域网</p>
      <p><strong>完全的网络访问权限</strong></p>
      <p>用于访问网络实现相应的服务，例如获取版本更新通知，查询应用分类标签等</p>
      <p><strong>查看网络连接</strong></p>
      <p>用于智能设置和控制栏快捷开关，检查网络开启状态</p>
      <p><strong>查看 WLAN 连接</strong></p>
      <p>用于智能设置和控制栏快捷开关，检查Wi-Fi是否连接</p>
      <p><strong>访问蓝牙设置</strong></p>
      <p>用于智能设置，开启／关闭蓝牙连接</p>
      <p><strong>与蓝牙设备配对</strong></p>
      <p>用于智能设置，获取蓝牙连接的配对状态</p>
      <p><strong>关闭其他应用</strong></p>
      <p>用于一键加速功能，关闭后台应用为手机加速</p>
      <p><strong>检索正在运行的应用</strong></p>
      <p>用于一键加速功能，用于查看正在运行的应用</p>
      <p><strong>开机启动</strong></p>
      <p>用于桌面在开机时自动启动服务</p>
      <p><strong>在其他应用之上显示内容</strong></p>
      <p>用于金手指，在其他应用界面上显示悬浮窗入口</p>
      <p><strong>控制振动</strong></p>
      <p>用于智能设置，在开启震动时，让手机震动一次作为提示</p>
      <p><strong>调整您的壁纸大小</strong></p>
      <p>用于壁纸功能，用户自定义调整壁纸图片的尺寸</p>
      <p><strong>设置壁纸</strong></p>
      <p>用于壁纸功能，将选中图片设置为壁纸</p>
      <p><strong>读取同步设置</strong></p>
      <p>用于省电功能，获取开关设置状态</p>
      <p><strong>启用和停用同步</strong></p>
      <p>用于省电功能，同步开关状态</p>
      <p><strong>展开/收拢状态栏</strong></p>
      <p>用于桌面手势，展开／收起通知栏</p>
      <p><strong>安装快捷方式</strong></p>
      <p>在其他桌面上创建快捷方式，让用户可继续使用ABC Launcher相关功能</p>
      <p><strong>计算应用存储空间</strong></p>
      <p>用于程序管理功能，获取App使用的存储空间</p>
      <p><strong>修改系统设置</strong></p>
      <p>用于智能设置，切换或调整铃声、震动、屏幕亮度</p>
      <p><strong>读取主屏幕设置和快捷方式</strong></p>
      <p>用于获取用户此前的桌面数据，以便延续用户习惯</p>
      <p><strong>卸载快捷方式</strong></p>
      <p>在其他桌面上删除ABC Launcher用户系统创建的快捷方式</p>
      <p><strong>文件夹归类</strong></p>
      <p>同意发送应用列表到服务器用于文件夹归类</p>
      <br>
      <h3>二、信息的保护</h3>
      <p>ABC Launcher对于必要的个人信息，将通过各种技术手段及策略进行保护，防止个人信息的遗失、破坏、篡改、泄露等，以确保其安全性。ABC Launcher会在法律要求或符合ABC Launcher的相关服务条款的情况下透露您的个人信息，或者有充分理由相信必须这样做才能：</p>
      <p>满足法律或行政法规的明文规定，或者符合ABC Launcher网站适用的法律程序；</p>
      <p>符合ABC Launcher相关服务条款、软件许可使用协议的约定；</p>
      <p>保护ABC Launcher的权利或财产；</p>
      <p>在紧急情况下保护ABC Launcher员工、ABC Launcher产品或服务的用户或大众的个人安全；</p>
      <p>ABC Launcher不会未经您的允许将这些信息与第三方共享，本声明已经列出的上述情况除外。</p>
      <br> 
      <h3>三、未成年人的特别注意事项</h3>
      <p>如您未满18周岁，您只能在父母或监护人的陪同下才可以使用本公司服务。</p>
      <br>
      <h3>四、免责声明</h3>
      <p>就下列相关事宜的发生，ABC Launcher不承担任何法律责任：</p>
      <p>由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人信息的泄露，或其他非因ABC Launcher原因导致的个人信息的泄露；</p>
      <p>ABC Launcher根据法律规定或政府相关政策要求提供您的个人信息；</p>
      <p>任何第三方根据ABC Launcher各服务条款及声明中所列明的情况使用您的个人信息，由此所产生的纠纷；</p>
      <p>任何由于黑客攻击、电脑病毒侵入或政府管制而造成的暂时性网站关闭；</p>
      <p>因不可抗力导致的任何后果；</p>
      <p>ABC Launcher在各服务条款及声明中列明的使用方式或免责情形。</p>
    </div>
  </div>

  <% include footer.ejs %>
  
</div>
</body>
</html>