<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>服务条款</title>
  <link rel="stylesheet" href="/stylesheets/zh/about-abc.css">
</head>
<body>
<div id="main">
  
  <% include header.ejs %>

  <div class="content layout clearfix">
    <div class="title">服务条款</div>
    <div class="desc">
      <p>为使用ABCLauncher的产品及服务，您应当阅读并遵守本服务条款。请您务必审慎阅读，充分理解各条款内容，特别是免除或者限制责任的条款，管辖与法律适用条款。除非您已阅读并接受本服务条款，否则您无权使用我们提供的服务。</p>
      <br>
      <h3>一、年龄及账户</h3>
      <p><strong>年龄</strong></p>
      <p>使用ABCLauncher及相关服务即表示您声明自己达到您居住地的“成人”或“承担法定责任”的年龄，或者您有合格的家长或法定监护人同意接受本服务条款的约束。如果您是使用ABCLauncher及相关服务的未年人的家长或法定监护人，则您可以代表该未成年人接受本服务条款。</p>
      <p><strong>账户</strong></p>
      <p>您在使用ABCLauncher相关服务时，可能需要您在需要注册一个帐户。不要将您的帐户信息透露给任何其他人。您自行负责您帐户的保密和安全，并对您的帐户发生的或通过您的帐户发生的一切活动负全责，而且您同意将您的帐户出现的任何安全漏洞立即通知我们。在我们运用了合理的技能并尽到适当的审慎义务的条件下，如果因您未遵守这些规则而导致您的帐户未经授权而被使用，则对于由此引起的任何损失，ABCLauncher不承担任何责任。</p>
      <br>
      <h3>二、隐私条款</h3>
      <p>保护用户隐私是我们的一项基本原则。我们将按照本服务条款及隐私条款的规定收集、使用、储存和分享您的个人信息。请您务必仔细阅读并透彻理解该隐私条款，一旦您选择使用，即表示您认可并接受该条款现有内容及其可能随时更新的内容</p>
      <br>
      <h3>三、内容和您的行为</h3>
      <p><strong>内容</strong></p>
      <p>“内容”指通过使用ABCLauncher及相关服务而可能产生或发现的任何信息，如数据文档、装置特性、书面文本、软件、音乐、图形、图片、图像、声音、视频、信息和任何其他类似材料。您理解，所有内容，无论是通过ABCLauncher及相关服务公开发布的还是以私人方式传输的，均由其来源人负全责。这意味着您而非ABCLauncher对您通过使用ABCLauncher及相关服务上载、下载、发布、以电邮发送、传输、存储或以其他方式提供的任何内容负全责。您理解，您可能因使用ABCLauncher及相关服务而遇到您认为低俗、令人反感或不适的内容，而且您也可能使他人接触到其认为令人反感的内容。ABCLauncher无法控制通过本服务发布的内容，也不保证该等内容的准确性、完整性或质量。您理解并同意，您使用ABCLauncher及相关服务和任何内容的风险完全由您自行承担。</p>
      <p><strong>您的行为</strong></p>
      <p>您同意，不会将ABCLauncher及相关服务用于以下用途：</p>
      <ul>
        <li>(1) 上传、下载、张贴、以电子邮件发送、传输、存储或以其他方式提供任何非法、骚扰、威胁、有害、侵权、诽谤、中伤、侮辱、暴力、淫秽、下流、侵犯他人隐私、仇恨、种族或民族歧视性质或在其他方面令人反感的内容；</li>
        <li>(2) 侵犯任何著作权或其他知识产权（包括上载您无权上载的任何内容），或违反保密、雇用或不披露协议披露任何商业秘密或保密信息;</li>
        <li>(3) 任何利用、危害或可能危害儿童的活动;</li>
        <li>(4) 其他任何违反法律、法规及其他任何侵犯第三人权利的活动。</li>
      </ul>
      <P><strong>内容的删除</strong></P>
      <P>您确认，对于由他人提供的任何内容，ABCLauncher在任何方面均不承担任何责任，且没有义务对该等内容预先进行审查。但是，ABCLauncher始终保留确定内容是否适当并符合本协议的权利，并且，如果ABCLauncher认定，内容违反本协议或在其他方面令人反感，则ABCLauncher经自行决定随时可以对内容进行预先审查、将内容移至他处、拒绝、修改和/或删除内容，而无需事先发出通知。</P>
      <br>
      <h3>四、知识产权</h3>
      <p>ABCLauncher及其相关软件、服务的一切版权、商标权、专利权、商业秘密等知识产权，以及所有相关的信息内容，包括但不限于：文字表述及其组合、图标、图饰、图表、色彩、界面设计、版面框架、有关数据、印刷材料、或电子文档等均受中华人民共和国著作权法、商标法、专利法、反不正当竞争法和相应的国际条约以及其他知识产权法律法规的保护，除涉及第三方授权的软件或技术外，ABCLauncher享有上述知识产权。</p>
      <p>未经ABCLauncher书面同意，所有用户不得为任何营利性或非营利性的目的自行实施、利用、转让或许可任何三方实施、利用、转让上述知识产权，ABCLauncher保留追究上述未经许可行为的权利。</p>
      <br>
      <h3>五、终止</h3>
      <p>ABCLauncher可随时在某些情况下，不需事先通知，立即终止或暂停您对ABCLauncher或相关服务的使用。此类终止的原因包括：(a)违反本服务条款及任何其他法律、政策或指引；(b)您要求取消或终止您的帐户；(c)执法、司法机构或其他政府机构要求和/或命令；(d)向您提供本服务是或可能是非法的；(e)突发的技术或安全问题；(f)您参与诈骗或非法活动；或(g)您未支付您就本服务所欠的任何费用。是否终止或暂停完全由ABCLauncher自行决定，而且对于因您的帐户和/或对本服务的访问被终止或暂停所导致或产生的任何损害，ABCLauncher不会对您或任何第三方承担任何责任。</p>
      <br>
      <h3>六、免责声明</h3>
      <p>ABCLauncher在提供本服务时应运用合理的技能并尽到应有的审慎义务。以下免责规定受到本明示保证的约束。</p>
      <p>ABCLauncher不担保、声明或保证您对本服务的使用将会是不中断的或无错误的，并且，您同意，ABCLauncher可不时无限期地撤除本服务，或根据本协议条款取消本服务。</p>
      <p>您明确理解并同意，ABCLauncher仅“按现状”和“可提供状态”提供本服务。ABCLauncher及其关联公司、子公司、管理人员、董事、员工、代理人、合作伙伴和许可人不提供任何明示或默示的保证，包括但不限于任何有关商品适销性、适合特定目的及无侵权的默示保证。尤其是，ABCLauncher及其关联公司、子公司、管理人员、董事、员工、代理商、合作伙伴和许可人不保证(I)本服务将满足您的需要；(II)您可及时、不受干扰、安全或没有错误地使用本服务；(III)您通过本服务获得的任何资料是准确或可靠的；和(IV)作为本服务的一部分提供给您的软件中的任何缺陷或错误将得到更正。</p>
      <p>ABCLauncher不声明或保证本服务不会遭受缺失、损坏、攻击、病毒、干扰、黑客入侵或其它的安全侵入情况，ABCLauncher不承担与之有关的任何责任。</p>
      <p>您自行判断并承担通过访问本服务而下载或以其他方式获得的任何材料的风险，对于下载任何此类材料而导致您的装置损坏或数据丢失，您自担责任。</p>
      <br>
      <h3>七、责任限制</h3>
      <p>您明确理解并同意，对于因以下原因造成的任何直接的、间接的、附带的、特别的、后果性或惩罚性损害赔偿，包括但不限于有关利润损失、商誉损害、使用损失、数据丢失的损失、替代商品或服务之购买费用或其他无形损失的损害赔偿（即使ABCLauncher已被告知发生前述损害赔偿之可能性），ABCLauncher及其关联公司、子公司、管理人员、董事、员工、代理人、合作伙伴和许可人不对您承担责任：(I)本服务之使用或无法使用；(II)本服务或其中任何部分有任何变更或暂时或永久停止本服务或其中任何部分；(III)您传输的内容或资料未经授权被访问或更改；(IV)您通过使用本服务传输的内容或数据被删除、被损坏或无法存储和/或发送或接收；(V)任何第三方在本服务中所作的陈述或行为；及(VI)与本服务相关的任何其他事宜。</p>
      <br>
      <h3>八、管辖法律</h3>
      <p>本服务条款应受中华人民共和国之法律的管辖。</p>
      <p>如果解释或执行本服务条款引起任何争论、索赔或争议（以下简称“争议”），双方当按照互惠互利的原则、通过和平友好谈判之方式来解决。对于由本合同引起的或与之有联系的任何争议，应当提交给北京仲裁委员会仲裁，仲裁地点在北京。在申请仲裁有效时间内，仲裁当按照北京仲裁委员会的仲裁规则来进行。</p>
      <br>
      <p style="text-align:right;">修订时间: 2016年2月25日</p>
    </div>
  </div>

  <% include footer.ejs %>
  
</div>
</body>
</html>