<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>主题</title>
  <link rel="stylesheet" href="/stylesheets/zh/themes-list.css">
</head>
<body>
  <div class="header-wrap">
    <div class="share layout clearfix">
      <div class="share-app">
        <a class="facebook" target="_blank" href="https://www.facebook.com/abclauncher/"></a>
      <a class="pinterest" target="_blank" href="https://www.pinterest.com/abclauncher/"></a>
      <a class="twitter" target="_blank" href="https://www.twitter.com/abclauncher/"></a>
      </div>
      <p class="phone-number">联系我们：pm@abclauncher.com</p>
    </div><!-- /.share -->
    <div class="header">
      <div class="layout clearfix">
        <div class="logo">
          <a href="/"></a>
        </div>
        <div class="nav">
          <ul class="clearfix">
            <li><a href="/">首页</a></li>
            <li><a class="select" href="/themes-list/">主题</a></li>
            <li><a href="/logs/">更新日志</a></li>
            <li><a href="/help/">帮助支持</a></li>
            <li><a href="/about-us/">关于我们</a></li>
          </ul>
        </div><!-- /.nav -->
      </div><!-- /.layout -->
    </div><!-- /.header -->
  </div><!-- /.header-wrap -->

  <div class="banner">
    <div class="content">
      <ul>
        <li class="select banner-1">
          <a href=""></a>
        </li>
        <li class="banner-2">
          <a href=""></a>
        </li>
        <li class="banner-3">
          <a href=""></a>
        </li>
      </ul>
      <div class="banner-dots">
        <a class="select" href="javascript:;"></a>
        <a href="javascript:;"></a>
        <a href="javascript:;"></a>
      </div>
    </div>
  </div>

  <div class="theme layout">
    <div class="module-title">
      <h2><span>主题展示</span></h2>
    </div><!-- /.module-title -->
    <div class="theme-list">
      <ul class="clearfix">
        <% for(var i=0;i<data.length;i++){ %>
          <li>
            <a href="/theme/000<%=i%>">
              <img src="/themes/000<%=i%>/theme_preview_1.jpg" alt="">
              <div>
                <strong><%=data[i]['title']%></strong>
                <p><%=data[i]['describe']%></p>
              </div>
            </a>
          </li>
        <% } %>
      </ul>
      <!-- <div class="page">
        <a href="#">上一页</a>
        <a class="select" href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">...</a>
        <a href="#">9</a>
        <a href="#">10</a>
        <a href="#">下一页</a>
      </div> -->
    </div>
  </div><!-- /.theme -->

  <% include footer.ejs %>
  

  <script src="/javascripts/jquery-1.11.3.js"></script>
  <script src="/javascripts/base.js"></script>
  <script>
    jccy.scrollPicture.init(
      $('.motherday-banner'),
      {
      item:$('.banner li'),
      page:$('.banner li').length,
      nav:$('.banner-dots'),
      width:1000,
      showMethod:'opacity'
      }
    );
  </script>
</body>
</html>