<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>主题</title>
  <link rel="stylesheet" href="/stylesheets/zh/theme.css">
</head>
<body>
  <div class="header-wrap">
    <div class="share layout clearfix">
      <div class="share-app">
        <a class="facebook" target="_blank" href="https://www.facebook.com/abclauncher/"></a>
      <a class="pinterest" target="_blank" href="https://www.pinterest.com/abclauncher/"></a>
      <a class="twitter" target="_blank" href="https://www.twitter.com/abclauncher/"></a>
      </div>
      <p class="phone-number">联系我们：pm@abclauncher.com</p>
    </div><!-- /.share -->
    <div class="header">
      <div class="layout clearfix">
        <div class="logo">
          <a href="/"></a>
        </div>
        <div class="nav">
          <ul class="clearfix">
            <li><a href="/">首页</a></li>
            <li><a class="select" href="/themes-list/">主题</a></li>
            <li><a href="/logs/">更新日志</a></li>
            <li><a href="/help/">帮助支持</a></li>
            <li><a href="/about-us/">关于我们</a></li>
          </ul>
        </div><!-- /.nav -->
      </div><!-- /.layout -->
    </div><!-- /.header -->
  </div><!-- /.header-wrap -->

  <div class="content layout">
    <p class="recommend-title"><%=curData.title%></p>
    <div class="reveal-wrap clearfix">
      <div class="reveal-pic">
        <ul class="clearfix">
          <li>
            <img src="/themes/000<%=number%>/theme_preview_1.jpg" alt="">
          </li>
          <li>
            <img src="/themes/000<%=number%>/theme_preview_2.jpg" alt="">
          </li>
          <li>
            <img src="/themes/000<%=number%>/theme_preview_3.jpg" alt="">
          </li>
        </ul>
        <p class="download-btn">
          <a target="_blank" href="<%=curData.link%>">免费下载</a>
        </p>
      </div><!-- /.reveal-pic -->
      <div class="reveal-text">
        <div class="qr-code">
          <img src="/images/launcher-qr-code.jpg" alt="">
          <p>扫一扫下载主题</p>
        </div>
        <h3>描述:</h3>
        <p><%=curData.describe%></p>
      </div><!-- /.reveal-text -->
    </div><!-- /.reveal-wrap -->
  </div><!-- /.content -->

  <div class="theme layout">
    <div class="theme-list">
      <p class="recommend-title">下载此款主题的用户还下载了</p>
      <ul class="clearfix">
        <% for(var i=0;i<4;i++){ %>
          <li>
            <a href="/theme/000<%=i%>/">
              <img src="/themes/000<%=i%>/theme_preview_1.jpg" alt="">
              <div>
                <strong><%=data[i]['title']%></strong>
                <p><%=data[i]['describe']%></p>
              </div>
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div><!-- /.theme -->

  <% include footer.ejs %>
  

  <script src="/javascripts/jquery-1.11.3.js"></script>
  <script>
  $(function(){
    var picItem = $('.reveal-pic li'),
        midNum = Math.floor(picItem.length/2),
        picLen = picItem.length,
        picArr = [];
        
    for(var i=0,l=picItem.length;i<l;i++){
      picArr.push(picItem.eq(i));
    }
    show(picArr);

    

    function show(arr){
      for(var i=0,l=picItem.length;i<l;i++){
        arr[i].css({
          'position': 'absolute',
          'left': (100+90*i) + 'px',
          'transform': 'scale('+ (1-0.1*Math.abs(i-midNum)) +') rotateY('+ 20*(midNum-i) +'deg)',
          'zIndex': 10-2*Math.abs(i-midNum),
          'opacity': 1
        });
        
      }
    }

    picItem.click(function(){

      var eqNum = $(this).index();
      picArr = [];
      for(var j=0,n=0;j<midNum;j++){
        if(eqNum-j-1<0){
          picArr.unshift(picItem.eq(picLen-1-(n++)));
        } else{
          picArr.unshift(picItem.eq(eqNum-j-1));
        }
      }
        
      for(var j=0,n=0,l=midNum+1;j<l;j++){
        if(eqNum+j>=picLen){
          picArr.push(picItem.eq(n++));
        } else{
          picArr.push(picItem.eq(eqNum+j));
        }
      }
      show(picArr);
    });
  });
  </script>
</body>
</html>