@import "reset.import.less";

html,body{
  height: 100%;
}
#main{
  min-height: 100%;
  position: relative;
}

.content{
  margin-top: 90px;
  padding-bottom: 230px;
}

.title{
  float:left;
  width:250px;
  height: 50px;
  text-align: center;
  font-size: 32px;
  line-height: 50px;
  padding: 35px 0;
  border-right: 1px solid #999;
  margin-right: 60px;
}

.desc{
  float:left;
  width: 590px;
  font-size: 14px;
  line-height: 30px;
  text-indent: 2em;

  h3{
    font-size: 16px;
    font-weight: normal;
    text-indent: 0;
    margin-top: 5px;
  }

  .no-space{
    text-indent: 0;
  }
  .space{
    margin-top: 15px;
  }
}

.about-abc{
  .desc{
    text-indent: 0;
  }

  ul{
    padding: 20px 0;
  }
}



.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
