@import "reset.import.less";

.module-title{
  margin-bottom: 20px;

  h2{
    width: 506px;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
  }
  span{
    display:inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 60px;
    background-color: #fff;
    font-size: 36px;
    color: #333;
    font-weight: normal;
    margin-top: -20px;
  }
}

.content{
  margin: 100px auto 200px;

  li:last-child{
    border:none;
  }

  li{
    padding: 40px 60px; 
    border-bottom: 1px solid #e5e5e5;

    .question{
      margin-bottom: 20px;
    }

    em{
      float:left;
      width: 24px;
      height: 24px;
      background-color: @baseColor;
      border-radius: 50%;
      text-align: center;
      line-height: 24px;
      font-size: 12px;
      margin-right: 20px;
      color:#fff;
    }
    h3{
      float: left;
      width: 700px;
      line-height: 24px;
      font-size: 16px;
      font-weight: normal;
    }

    .answer{
      padding-bottom: 10px;
    }
    
    .con{
      float: left;
      width: 700px;
      font-size: 14px;
      line-height: 20px;
    }
  }

}








