/*reset*/
body,div, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p,img, blockquote, pre, form, fieldset, legend, input, button, textarea, hr,span {margin:0;padding:0;}
body{background:#fff;color:#333;  font:12px/1.25 "Microsoft YaHei",Arial,Helvetica,sans-serif;}
table{border-collapse:collapse;border-spacing:0;}
li,ul,ol,dl,dd,dt{list-style: none;}
em,i {font-style:normal;}
b{ font-weight:100;}
fieldset,img{border: 0;}
img{vertical-align: top;}
input,button{outline:none;}
select, input{ vertical-align:middle; }
a{color: #333;cursor:pointer;text-decoration: none;}
.none{ display:none;}
.clearfix{
  zoom: 1;
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

@baseColor: #26b14c;
.layout{width:1000px;margin:0 auto;}

.header-wrap{

  .share{
    height: 35px;
    padding-top: 5px;
    line-height: 30px;
  }

  .share-app{
    float: left;
    width: 200px;
    height: 30px;

    a{
      display: inline-block;
      width: 30px;
      height: 30px;
      background:url(/images/index-sprit.png) no-repeat;
      margin: 0 5px;
    }

    .facebook{
      background-position: 0 0;
    }
    .pinterest{
      background-position: 0 -49px;
    }
    .twitter{
      background-position: 0 -94px;
    }
  }

  .phone-number{
    float: right;
    width:300px;
    text-align: right;
  }
}

.header{
  width: 100%;
  height:60px;
  background: rgba(38,177,76,1);

  .logo{
    float: left;
    width: 300px;
    
    a{
      display: block;
      height:60px;
      background: url(/images/logo.png) no-repeat 0px 5px;
    }
  }
  .nav{
    float:right;
    width: 525px;

    li{
      float: left;
      height:60px;
      line-height: 60px;
      font-size: 14px;
      
      a{
        display: block;
        padding:0 30px;
        color:#fff;
      }
      .select{
        color:#333;
      }
    }
  }
}

.footer{
  padding: 24px 0;
  border-top: 1px solid #e5e5e5;

  .appliv_link{
    margin-bottom: 10px;
    a{
      color: #737373;
    }
  }

  p{
    text-align: center;
    line-height: 26px;
  }
}

