@import "reset.import.less";
@import "theme-list-module.import.less";


.banner{
  margin-bottom:70px;

  .content{
    position: relative;
    min-width: 1000px;
  }

  ul{
    height: 400px;
    overflow: hidden;
    position: relative;
  }

  li{
    position:absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: opacity .4s ease-out;
  }

  .banner-1{
    background-image: url(/images/banner-list-3.jpg);
  }
  .banner-2{
    background-image: url(/images/banner-list-2.jpg);
  }
  .banner-3{
    background-image: url(/images/banner-list-1.jpg);
  }

  li.select{
    opacity: 1;
  }

  .banner-dots{
    position: absolute;
    bottom: 10px;
    left:0;
    width: 100%;
    text-align: center;

    a{
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ddd;
      margin: 0 3px;
      vertical-align: middle;
    }

    .select{
      width: 16px;
      height: 16px;
    }
  }

}