<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" href="/stylesheets/en/about-us.css">
</head>
<body>
<div id="main">
  <div class="header-wrap">
    <div class="share layout clearfix">
      <div class="share-app">
        <a class="facebook" target="_blank" href="https://www.facebook.com/abclauncher/"></a>
        <a class="pinterest" target="_blank" href="https://www.pinterest.com/abclauncher/"></a>
        <a class="twitter" target="_blank" href="https://www.twitter.com/abclauncher/"></a>
      </div>
      <p class="phone-number">Contact：pm@abclauncher.com</p>
  </div><!-- /.share -->
  <div class="header">
    <div class="layout clearfix">
      <div class="logo">
        <a href="/"></a>
      </div>
      <div class="nav">
        <ul class="clearfix">
          <li><a href="/">Home</a></li>
          <li><a href="/themes-list/">Theme</a></li>
          <li><a href="/logs/">Update Log</a></li>
          <li><a href="/help/">Support</a></li>
          <li><a class="select" href="/about-us/">About</a></li>
        </ul>
        </div><!-- /.nav -->
      </div><!-- /.layout -->
    </div><!-- /.header -->
  </div><!-- /.header-wrap -->

  <div class="content layout">
    <div class="module-title">
      <h2><span>Company Profile</span></h2>
    </div>
    <div class="text indent">
      <img src="/images/theme-banner-1.jpg" alt="">
      <p>ABC Launcher Team was founded on 2015. ABC launcher is one of the core products, top rated & ranked, and extremely popular.</p>
      <p>One of hot topics in 2015 is innovation. Mass innovation and public entrepreneurship becomes the policy of economy. However, 2015 is also the utmost hard year for business startup, capital market disaster, GDP growth rate dropped below 7% and severe international political and economical environment. Be that as it may, innovation and entrepreneurship is still growing vigorously. In such a backgroud. ABC Launcher Team came into being and from the very beginning harvested 5 billion RMB angel investment.</p>
      <p>In consideration of mobile users are increasing explosively around the world and China's complicated domestic market, ABC Launcher Team established the strategy of "mobile end, overseas".</p>
      <p>Beautify your device system, personalize your life, make smartphones smarter- our pursuit.</p>
    </div>
    <div class="module-title">
      <h2><span>Enterprise Culture</span></h2>
    </div>
    <div class="text">
      <p>Integrity, insist on our own belief, keep just and noble.</p>
      <p>Simplity, no sundry and tedious meetings, no complicated interpersonal relationship, no formalism, total flat management.We advocate straight-out communication.</p>
      <p>Highest Efficiency and best effectiveness.</p>
    </div>
  </div><!-- /.content -->
  
  <% include footer.ejs %>
  
</div>
</body>
</html>