<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About ABC</title>
  <link rel="stylesheet" href="/stylesheets/en/about-abc.css">
</head>
<body>
<div id="main">
  
  <% include header.ejs %>

  <div class="about-abc content layout clearfix">
    <div class="title">About ABC</div>
    <div class="desc">
      <p>ABC launcher, as easy as ABC. Easy of use and simplicity is our aim of pursuit for ever, which is symbol of our enterprise culture.</p>
      <ul>
        <li>We are a group of young men of strong enthusiasm for staring our own business.</li>
        <li>We are a group of young men of pursuing simple living and working.</li>
        <li>We are a group of young men of strong belief and encourage.</li>
        <li>We are a group of young men of integrity and sense of justice.</li>
      </ul>
      <p>ABC is devoted to developing a launcher of easy use, convenience and fast speed and enable the users to have the best experience of android device. It does not only beautify and personalize your system but also provide apps auto categorization, one key boost, always keeping your phone in a state of high speed and smoothness. Last but not least, it gives you millions of freemium themes and wallpapers.</p>
    </div>
  </div>

  <% include footer.ejs %>
  
</div>
</body>
</html>