<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact</title>
  <link rel="stylesheet" href="/stylesheets/en/about-abc.css">
</head>
<body>
<div id="main">
  
  <% include header.ejs %>

  <div class="contact-us content layout clearfix">
    <div class="title">CONTACT</div>
    <div class="desc">
      <p class="no-space">CONTACT</p>
      <p>ABC values and welcomes your feedback. Please contact us with your questions and suggestions. ABC team members are available to help you troubleshoot your issues and concerns within one business day.</p>
      <p class="space">Product feedback contact: pm@abclauncher.com</p>
      <P>For partnership inquireies, please contact: bd@abclauncher.com</P>
      <P>Report malicious promotion, please contact: report@abclauncher.com</P>
    </div>
  </div>

  <% include footer.ejs %>
  
</div>
</body>
</html>