<div class="footer">
  <p class="appliv_link">
    <a href="http://app-liv.com" target="_blank" rel="nofollow">Android App Discovery Website</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="http://app-liv.com/" target="_blank" rel="nofollow">iPhone App Discovery Website</a>&nbsp;
  </p>
  <p>
    <a href="/about-abc/">About ABC</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/privacy/">Privacy Policy</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/terms-of-service/">Terms of Service</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/contact-us/">Contact</a>
  </p>
  <p>@Copyright 2015-2016 ABC Launcher  All Rights Reserved</p>
  <p>ABC Launcher Team&nbsp;&nbsp;&nbsp;&nbsp;RM 20A KIU FU COMM BLDG 300 LOCKHART RD WANCHAI HK</p>
</div><!-- /.footer -->
