<div class="header-wrap">
  <div class="share layout clearfix">
    <div class="share-app">
      <a class="facebook" target="_blank" href="https://www.facebook.com/abclauncher/"></a>
      <a class="pinterest" target="_blank" href="https://www.pinterest.com/abclauncher/"></a>
      <a class="twitter" target="_blank" href="https://www.twitter.com/abclauncher/"></a>
    </div>
    <p class="phone-number">Contact：pm@abclauncher.com</p>
  </div><!-- /.share -->
  <div class="header">
    <div class="layout clearfix">
      <div class="logo">
        <a href="/"></a>
      </div>
      <div class="nav">
        <ul class="clearfix">
          <li><a href="/">Home</a></li>
          <li><a href="/themes-list/">Theme</a></li>
          <li><a href="/logs/">Update Log</a></li>
          <li><a href="/help/">Support</a></li>
          <li><a href="/about-us/">About</a></li>
        </ul>
      </div><!-- /.nav -->
    </div><!-- /.layout -->
  </div><!-- /.header -->
</div><!-- /.header-wrap -->