<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Support</title>
  <link rel="stylesheet" href="/stylesheets/en/help.css">
</head>
<body>
<div id="main">
  <div class="header-wrap">
    <div class="share layout clearfix">
      <div class="share-app">
        <a class="facebook" target="_blank" href="https://www.facebook.com/abclauncher/"></a>
        <a class="pinterest" target="_blank" href="https://www.pinterest.com/abclauncher/"></a>
        <a class="twitter" target="_blank" href="https://www.twitter.com/abclauncher/"></a>
      </div>
      <p class="phone-number">Contact：pm@abclauncher.com</p>
  </div><!-- /.share -->
  <div class="header">
    <div class="layout clearfix">
      <div class="logo">
        <a href="/"></a>
      </div>
      <div class="nav">
        <ul class="clearfix">
          <li><a href="/">Home</a></li>
          <li><a href="/themes-list/">Theme</a></li>
          <li><a href="/logs/">Update Log</a></li>
          <li><a class="select" href="/help/">Support</a></li>
          <li><a href="/about-us/">About</a></li>
        </ul>
        </div><!-- /.nav -->
      </div><!-- /.layout -->
    </div><!-- /.header -->
  </div><!-- /.header-wrap -->

  <div class="content layout">
    <div class="module-title">
      <h2><span>FAQ</span></h2>
    </div><!-- /.module-title -->
    <div class="list">
      <ul>
        <li>
          <div class="question clearfix">
            <em>Q</em>
            <h3>ABC launcher can run on my device?</h3>
          </div>
          <div class="answer clearfix">
            <em>A</em>
            <div class="con">
              <p>Any device with android 4.1+ .</p>
            </div>
          </div>
        </li>
        <li>
          <div class="question clearfix">
            <em>Q</em>
            <h3>How to install ABC launcher?</h3>
          </div>
          <div class="answer clearfix">
            <em>A</em>
            <div class="con">
              <p>Download from Google Play or our website http://www.abclauncher.com</p>
            </div>
          </div>
        </li>
        <li>
          <div class="question clearfix">
            <em>Q</em>
            <h3>How to change from other launcher to ABC launcher?</h3>
          </div>
          <div class="answer clearfix">
            <em>A</em>
            <div class="con">
              <p>Touch Home key, choose ABC launcher and click “Always”. Making ABC launcher as default is suggested.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="question clearfix">
            <em>Q</em>
            <h3>Functions Overview</h3>
          </div>
          <div class="answer clearfix">
            <em>A</em>
            <div class="con">
              <p>1. Millions of beautiful wallpapers and themes, updated daily, beautify your system wholly.</p>
              <p>2. Fully personalized and customized, diversified masks with cool wallpapers, unique theme concept.</p>
              <p>3. One key boost, makes you system as fast as possible. Clean RAM and speed up your mobile phone right now!</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div><!-- /.content -->
  
  <% include footer.ejs %>
  
</div>
</body>
</html>