<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ABClauncher</title>
  <link rel="stylesheet" href="/stylesheets/en/index.css">
</head>
<body>
  <div class="header">
    <div class="layout clearfix">
      <div class="logo">
        <a href="/"></a>
      </div>
      <div class="nav">
        <ul class="clearfix">
          <li><a class="select" href="/">Home</a></li>
          <li><a href="/themes-list/">Theme</a></li>
          <li><a href="/logs/">Update Log</a></li>
          <li><a href="/help/">Support</a></li>
          <li><a href="/about-us/">About</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="banner">
    <div class="content layout clearfix">
      <div class="desc">
        <h1><strong>ABC</strong>&nbsp;&nbsp;makes your smartphones smarter</h1>
        <ul>
          <li>
            <i></i>
            <strong>One key boost</strong>
            <span>always keeping your system in best state!</span>
          </li>
          <li>
            <i></i>
            <strong>Speedy</strong>
            <span>smooth, simple and secure!</span>
          </li>
          <li>
            <i></i>
            <strong>Totally</strong>
            <span>customized and personalized! </span>
          </li>
        </ul>
      </div><!-- /.decs -->
      <div class="download">
        <div class="qr-code">
          <img src="/images/launcher-qr-code.jpg" alt="">
        </div>
        <!-- <p class="download-btn1">
          <a href="http://api.abclauncher.com/abclauncher.apk">Download</a>
        </p> -->
        <p class="download-btn2">
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.abclauncher.launcher">GET IT ON Google play</a>
        </p>
      </div>
      <div class="web_link">
        <p><a href="http://app-liv.com/android/en/2845808" target="_blank" rel="nofollow">ABC Launcher - Boost, Clean is reviewed in Appliv！</a></p>
        <p><a href="http://app-liv.com/android/en/2960667" target="_blank" rel="nofollow">COK theme is reviewed in Appliv！</a></p>
        <p><a href="http://app-liv.com/android/en/3297323" target="_blank" rel="nofollow">Euro 2016 theme ABC launcher is reviewed in Appliv！</a></p>
      </div>
    </div><!-- /.content -->
  </div><!-- /.banner -->

  <div class="function layout">
    <div class="module-title">
      <h2><span>Main Features</span></h2>
    </div><!-- /.module-title -->
    <div class="content">
      <ul class="clearfix">
        <li class="desc1 desc-case">
          <i></i>
          <strong>One key boost</strong>
          <p><span>Make you system as fast as possible. Clean RAM and speed up your mobile phone right now.</span></p>
        </li>
        <li class="desc2 desc-case">
          <i></i>
          <strong>APP auto categorization</strong>
          <p><span>Intelligently and automatically analyzes your apps and put them into separate folders so that you can quickly locate your desired app.</span></p>
        </li>
        <li class="desc3 desc-case">
            <i> </i>
          <strong>Personalize and customize</strong>
          <p><span>Beautify your device system with thousands of pleasant themes and wallpapers, updated weekly, all free and some premium ones released now and then.</span></p>
        </li>
        <li class="desc4 desc-case">
          <i> </i>
          <strong>Quick search</strong>
          <p><span>Start your mobile search instantly and conveniently for contacts, message, apps, and the web.</span></p>
        </li>
      </ul>  
    </div><!-- /.content -->
  </div><!-- /.function -->

  <div class="theme layout">
    <div class="module-title">
      <h2><span>Selected Themes</span></h2>
    </div><!-- /.module-title -->
    <div class="theme-list">
      <ul class="clearfix">
        <% for(var i=0;i<8;i++){ %>
          <li>
            <a href="/theme/000<%=i%>">
              <img src="/themes/000<%=i%>/theme_preview_1.jpg" alt="">
              <div>
                <strong><%=data[i]['title']%></strong>
                <p><%=data[i]['describe']%></p>
              </div>
            </a>
          </li>
        <% } %>
      </ul>
      <p class="theme-more"><a href="/themes-list/">More themes>></a></p>
    </div>
  </div><!-- /.theme -->

  <% include footer.ejs %>
  

</body>
</html>