<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update Log</title>
  <link rel="stylesheet" href="/stylesheets/en/logs.css">
</head>
<body>
<div id="main">
  <div class="header-wrap">
    <div class="share layout clearfix">
      <div class="share-app">
        <a class="facebook" target="_blank" href="https://www.facebook.com/abclauncher/"></a>
        <a class="pinterest" target="_blank" href="https://www.pinterest.com/abclauncher/"></a>
        <a class="twitter" target="_blank" href="https://www.twitter.com/abclauncher/"></a>
      </div>
      <p class="phone-number">Contact：pm@abclauncher.com</p>
  </div><!-- /.share -->
  <div class="header">
    <div class="layout clearfix">
      <div class="logo">
        <a href="/"></a>
      </div>
      <div class="nav">
        <ul class="clearfix">
          <li><a href="/">Home</a></li>
          <li><a href="/themes-list/">Theme</a></li>
          <li><a class="select" href="/logs/">Update Log</a></li>
          <li><a href="/help/">Support</a></li>
          <li><a href="/about-us/">About</a></li>
        </ul>
        </div><!-- /.nav -->
      </div><!-- /.layout -->
    </div><!-- /.header -->
  </div><!-- /.header-wrap -->

  <div class="content layout">
    <div class="module-title">
      <h2><span>Update Log</span></h2>
    </div><!-- /.module-title -->
    <div class="list">  
      <ul>
      	<li class="lasted">
      		<div class="version clearfix">
      			<h3>ABC launcher, version 1.0</h3>
      			<span>released on Jan 8, 2016</span>
      		</div>
					<p class="download-btn">
						<a target="_blank" href="https://play.google.com/store/apps/details?id=com.abclauncher.launcher">Download</a>
					</p>
					<ol>
						<li>1  Intelligent folder： automatically classify your apps into different folders, making your screens tidy and clean.</li>
						<li>2  One key boost：clean your ram and optimize your memory, shut up unnecessary processes and keep your system in best state always.</li>
						<li>3  Free and top quality themes: customized and personalized themes as you choose</li>
						<li>4  Quick search: start your mobile search instantly, find your apps, messages, contacts or content on the web.</li>
					</ol>
      	</li>
      	
      </ul>
    </div>
  </div><!-- /.content -->
  

  <% include footer.ejs %>
  
</div>
</body>
</html>