<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Privacy Policy</title>
  <link rel="stylesheet" href="/stylesheets/en/about-abc.css">
</head>
<body>
<div id="main">
  
  <% include header.ejs %>

  <div class="content layout clearfix en-content">
    <div class="title">Privacy Policy</div>
    <div class="desc no-space">
      <p>ABC (“Smaller”, “Simpler”, "Smoother" ) collects information from you in order to provide better service and a better user experience. Your privacy is a top priority to us, and this Privacy Policy explains how we collect, use, and protect your information.</p>
      <br>
      <h3>What information we use and how we use it:</h3>
      <p><strong>Read phone status and identity</strong></p>
      <p>This permission allows ABC Launcher to recognize an incoming call and to switch between the User System interface and call interface.</p>
      <p><strong>Read your text messages (SMS or MMS)</strong></p>
      <p>We do not save or upload your messages. We use this permission to read your text messages when you search messages in ABC Launcher search bar.</p>
      <p><strong>Take pictures and videos</strong></p>
      <p>Torch is a popular feature in ABC Launcher that uses your device’s camera flashlight and requires camera permission. ABC Launcher will not take photos and videos by itself.</p>
      <p><strong>Approximate location (network-based)</strong></p>
      <p>This permission is used to display apps installed by anonymous surrounding users and to recommend popular apps based on users’ location in ABC Launcher Radar. This information is untraceable.</p>
      <p><strong>Read your contacts</strong></p>
      <p>ABC Launcher does not save or upload your contacts. Permission to access contact information is used when you search contacts in ABC Launcher search bar.</p>
      <p><strong>Read calendar events plus confidential information</strong></p>
      <p>This information is used only in the ABC Launcher wind chime feature to remind you of your latest calendar events. We do not save or upload any of your calendar information.</p>
      <p><strong>Modify or delete the contents of your USB storage</strong></p>
      <p>This permission allows users to delete ABC Launcher wallpaper stored on their SD card.</p>
      <p><strong>Read the contents of your USB storage</strong></p>
      <p>This permission allows users to view ABC Launcher wallpaper stored on their SD card.</p>
      <p><strong>Set an alarm</strong></p>
      <p>This permission allows users to access the device's alarm through ABC Launcher clock widget.</p>
      <p><strong>Find accounts on the devices</strong></p>
      <p>ABC Launcher does not recognize or save your account information for any programs. ABC Launcher only detects whether users have a Google account linked with the device which helps us confirm the state of Google Service and provide users with appropriate application download and update methods.</p>
      <p><strong>Read Google service configuration</strong></p>
      <p>This information is used to acquire advertising ID. ABC Launcher provides users with better advertising service by using such anonymous ID.</p>
      <p><strong>Change network connectivity</strong></p>
      <p>This permission is used in ABC Launcher settings and notification toolbar, in order to change network connectivity.</p>
      <p><strong>Connect and disconnect from Wi-Fi</strong></p>
      <p>This permission is used in ABC Launcher settings and notification toolbar in order to connect and disconnect from Wi-Fi.</p>
      <p><strong>Full network access</strong></p>
      <p>This permission is used to access the device’s network for certain functions including receiving launcher update notifications or accessing app classification labels.</p>
      <p><strong>View network connections</strong></p>
      <p>This permission is used in ABC Launcher settings and notification toolbar, in order to view network connections.</p>
      <p><strong>View Wi-Fi connections</strong></p>
      <p>This permission is used in ABC Launcher settings and notification toolbar, in order to view Wi-Fi connections.</p>
      <p><strong>Access Bluetooth settings</strong></p>
      <p>This permission is used in ABC Launcher settings, in order to turn on and off the Bluetooth.</p>
      <p><strong>Pair with Bluetooth devices</strong></p>
      <p>This permission is used in ABC Launcher settings, in order to pair with Bluetooth devices.</p>
      <p><strong>Close other apps</strong></p>
      <p>This permission is used in ABC Launcher Boost in order to turn off the back-end apps and make the phone run faster.</p>
      <p><strong>Retrieve running apps</strong></p>
      <p>This permission is used in ABC Launcher Boost in order to view the running apps.</p>
      <p><strong>Run as startup</strong></p>
      <p>ABC Launcher will run as startup to provide users with a launcher service.</p>
      <p><strong>Draw over other apps</strong></p>
      <p>This permission allows the ABC Launcher FreeSwipe tab to be displayed as a floating window on other apps.</p>
      <p><strong>Control vibration</strong></p>
      <p>This permission allows ABC Launcher to make the phone vibrate once after users set the device on vibrate, confirming the setting has been turned on.</p>
      <p><strong>Adjust your wallpaper size</strong></p>
      <p>This permission allows users to crop ABC Launcher wallpaper to the desired size.</p>
      <p><strong>Set wallpaper</strong></p>
      <p>This permission allows users to set a selected ABC Launcher image as their wallpaper.</p>
      <p><strong>Read sync settings</strong></p>
      <p>This permission is used in ABC Launcher power’s save mode, and allows ABC Launcher to recognize whether sync settings are turned on or off.</p>
      <p><strong>Toggle sync on and off</strong></p>
      <p>This permission is used in ABC Launcher power’s save mode, and allows ABC Launcher to synchronize with the user's sync settings.</p>
      <p><strong>Expand/collapse status bar</strong></p>
      <p>This permission is used for the gesture feature of ABC Launcher User System to expand and collapse the status bar.</p>
      <p><strong>Install shortcuts</strong></p>
      <p>This permission is used to install shortcuts on other launchers, so users can continue to use ABC Launcher related functions.</p>
      <p><strong>Measure app storage space</strong></p>
      <p>This permission is used to acquire the amount of storage space used by an application.</p>
      <p><strong>Modify system settings</strong></p>
      <p>This permission is used in ABC Launcher settings, in order to switch or adjust ringtone, vibration and brightness level of the screen.</p>
      <p><strong>Read Home settings and shortcuts</strong></p>
      <p>This permission is used to acquire the user’s Home settings and shortcuts, in order to maintain user preferences.</p>
      <p><strong>Uninstall shortcuts</strong></p>
      <p>This permission allows ABC Launcher to delete the shortcuts created by ABC Launcher in other Android launchers.</p>
      <p><strong>Auto Classification</strong></p>
      <p>Agreed to send application list to the server for  auto classification.</p>
      <br>
      <h3>How we protect your information</h3>
      <p>We have implemented commercially reasonable technical and organizational measures to protect your personal information from accidental loss and from loss, misuse and unauthorized access, disclosure, alteration and destruction. However, please note that although we take reasonable measures to protect your information, no app, website, Internet transmission, computer system or wireless connection is completely secure.</p>
      <br>
      <h3>How we share your information</h3>
      <p>We may retain third parties to perform services on our behalf and we may collaborate with third parties with respect to particular products or services. These third parties may be provided with access to the information needed to perform their functions, as long as they agree to keep the information confidential. We reserve the right to disclose your information as required by law, when we believe disclosure is necessary to comply with a regulatory requirement, judicial proceeding, court order, or legal process served on us, or to protect the safety, rights, or property of our users, the public or ABC Launcher.</p>
      <br>
      <h3>Children's Privacy</h3>
      <p>We are committed to protecting the privacy of children. We do not knowingly collect personal information from children under the age of 13.</p>
      <br>
      <h3>Changes to the Privacy Policy</h3>
      <p>ABC Launcher may, in its sole discretion, change this Privacy Policy from time to time, any and all changes will be reflected here and the date new versions are posted will be stated at the top of this Privacy Policy, so please review it periodically.</p>
      <br>
      <h3>Contact us</h3>
      <p>If you have any suggestions, feedback or requests, please contact us on our Facebook page: <a href="https://www.facebook.com/abclauncher/">https://www.facebook.com/abclauncher/</a></p>
      <p>or email us: pm@abclauncher.com</p>
    </div>
  </div>

  <% include footer.ejs %>
  
</div>
</body>
</html>