<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Terms of Service</title>
  <link rel="stylesheet" href="/stylesheets/en/about-abc.css">
</head>
<body>
<div id="main">
  
  <% include header.ejs %>

  <div class="content layout clearfix en-content">
    <div class="title small-title">Terms of Service</div>
    <div class="desc">
      <br>
      <h3>Acceptance of These Terms of Service</h3>
      <p>BY DOWNLOADING, INSTALLING, OR USING ABC Launcher, YOU AGREE TO BE BOUND BY BOTH THESE TERMS OF SERVICE（“TOS”） AND THE ABC Launcher  PRIVACY POLICY. YOU CAN CHECK THE MODIFIED VERSION FROM THE SOFTWARE OR THE OFFICIAL WEBSITE. YOU UNDERSTAND AND AGREE THAT IF YOU CONTINUOUSLY USE ABC Launcher  AFTER THE DATE ON WHICH the TOS HAVE CHANGED, ABC Launcher WILL TREAT YOUR USE AS ACCEPTANCE AND COMPLIANCE WITH THE UPDATED TERMS.</p>
      <p>ABC Launcher  may also offer other services that are governed by different TOS. In such cases the other TOS will be posted on the relevant service to which they apply.</p>
      <p>If you do not agree with the TOS, please do not use or access ABC Launcher.</p>
      <br>
      <h3>Your Registration and Account</h3>
      <p>If you are under the age of 13, you must not use our services. If you are between the ages of 13 and 18 (or the relevant age in your jurisdiction where you are considered a minor), your parent or guardian must agree to the TOS (both for themselves and on your behalf) before you can use our services. If you are using our services on behalf of a company, partnership, association, or other organization (“organization”), you warrant that you are authorized to do so and that you are authorized to bind your organization to the TOS and in such circumstances “you” will include your organization.</p>
      <p>You also agree to provide true, accurate, current and complete information about yourself as prompted by the ABC Launcher Service's registration (at ABC Launcher’s need or request in its sole discretion). 3. You are entirely responsible for maintaining the security and confidentiality of your information and password. You agree that you will immediately notify ABC Launcher  should your password or any of your information be compromised and of any such unauthorized use. ABC Launcher  cannot and will not be liable for any loss or damage arising from your failure to comply with this Section.</p>
      <br>
      <h3>Privacy Policy</h3>
      <p>Your using or accessing ABC Launcher is also governed by ABC Launcher Group's Privacy Policy, which is incorporated herein by reference. Your privacy is important to us. We designed ABC Launcher  Privacy Policy to make important disclosures about how we collect and use your information. We encourage you to read the ABC Launcher  Privacy Policy carefully and use it to make informed decisions.</p>
      <br>
      <h3>Content and Submissions</h3>
      <p>When you provide any submissions to ABC Launcher, you understand and accept complete responsibility for your submissions, including any and all consequences that may arise. As such, you represent and warrant that you: own or have secured all necessary licenses, rights, consents and permissions for such submissions and authorize ABC Launcher  to make use of these submissions in the manner contemplated by the TOS.</p>
      <p>By using the Service, you may be exposed to content that is offensive, indecent or objectionable. Under no circumstances will we be liable for your content or the content of any third party, including, but not limited to, for any errors or omissions in your content, or for any loss or damage of any kind incurred as a result of the use of any content posted, transmitted or otherwise made available via the Service. You acknowledge that we do not pre-screen content, but that we shall have the right (but not the obligation) to refuse, move or delete any content that is available via the Service.</p>
      <p>We shall also have the right to remove any content that violates the TOS or is otherwise objectionable in our sole discretion. You must evaluate, and bear all risks associated with, the use of any content. You may not rely on any content created by us. You acknowledge and agree that we may preserve content and may also disclose content if required to do so by law or in the good faith belief that such preservation or disclosure is reasonably necessary to: (a) comply with legal process; (b) enforce these Terms; (c) respond to claims that any content violates the rights of third-parties; or (d) protect our rights, property, or personal safety and those of our users and the public.</p>
      <p><strong>Prohibited Content Submissions</strong></p>
      <p>You may not create a user name, post, upload, email or otherwise transmit to ABC Launcher  Submissions of any kind that is, within the sole discretion of ABC Launcher, determined to be commercial, illegal, offensive or potentially harmful to others including but not limited to content that:</p>
      <ul>
        <li>(1) infringes upon the rights of any third party, including but not limited to copyrights, trademarks, patents, trade secret, design rights, moral rights or other third party proprietary rights, including privacy and publicity rights;</li>
        <li>(2) promotes the infringement of copyright or other third party rights, e.g., providing a list of hyperlinks to websites that contain pirated software or media files, hacking/cracking, etc.;</li>
        <li>(3) contains software viruses or any other malicious computer code, files or programs designed to interrupt, destroy or alter the functionality of any computer software or hardware or telecommunications equipment owned by another party;</li>
        <li>(4) is offensive, abusive, threatening, harassing, stalking, promoting violence or racism or harm or hatred or bigotry against any group or individual;</li>
        <li>(5) is libelous or defamatory or promotes information that you know is false or illegal;</li>
        <li>(6) violates the privacy of others, including but not limited to posting the photograph of another person without that person's consent;</li>
        <li>(7) is obscene, vulgar or contains profanity;</li>
        <li>(8) is pornographic or sexually explicit or contains nudity;</li>
        <li>(9) exploits or attempts to exploit people in a sexual or violent manner;</li>
        <li>(10) disparage ABC Launcher or any third party;</li>
        <li>(11) is or contains an advertisement, a marketing initiative, solicitation of a business, or otherwise significantly connected with any commercial purpose;</li>
        <li>(12) involves the transmission of any unsolicited mass mailing including but not limited to "junk mail", "chain letters" and "spam";</li>
        <li>(13) contains restricted or password only access pages;</li>
        <li>(14) sells, promotes or encourages the use of beer or hard alcohol, tobacco or related products, prescription drugs, narcotics or drug paraphernalia, replicas or imitations of designer goods, weapons (including firearms, ammunition, brass knuckles, throwing stars, knives, etc.), gambling or casino-related content;</li>
        <li>(15) is unlawful or illegal, criminal or tortuous in nature (such as child pornography, fraud, gambling);</li>
        <li>(16) is otherwise objectionable material or that encourages conduct that could constitute a criminal offense, give rise to civil liability or otherwise violate any applicable local, state, national or international law or regulation.</li>
      </ul>
      <br>
      <h3>Intellectual Property Rights</h3>
      <p>When you provide Submissions to ABC Launcher, you still retain all of your rights of ownership in your Submissions. However, by uploading, posting or otherwise transmitting your Submissions on or to ABC Launcher, you grant ABC Launcher (and its successors) a royalty-free, perpetual, irrevocable, transferable, worldwide, exclusive right (themes) and license to use, license, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, derive revenue or other remuneration from, communicate to the public, perform and display the content (in whole or in part) and/or to incorporate it in other works in any form, media, or technology now known or later developed, for the full term of any rights that may exist in such content. You also permit any subscriber to access, display, view, and store and reproduce such content for personal use, as permitted by the Service and under these Terms of Service.</p>
      <p>Other than Submissions you provide to ABC Launcher, all content, software, scripts, images, graphics, audio, video and other materials in any form (collectively, "ABC Launcher Content") are protected by copyrights, trade or service marks, patents or other proprietary rights and are owned by or licensed to ABC Launcher, subject to intellectual property rights. You understand and agree that all ABC Launcher  Content is provided to you solely on an AS IS basis for your personal use only and may not be copied, reproduced, distributed, broadcast, displayed, sold, licensed or otherwise used or exploited for any purpose and in any manner without the prior written consent of ABC Launcher  or the respective owners. ABC Launcher reserves all rights not expressly granted to you. If you download, print or display any ABC Launcher Content for personal use, you must retain all copyright and other proprietary notices.</p>
      <p>You may not (and you may not permit anyone else to) take actions directly or indirectly that infringe or may infringe intellectual property rights and related interest of ABC Launcher (including but not limited to exploiting, assigning the referenced intellectual property rights above or permitting anyone else to do so). ABC Launcher  reserves the right to charge the tort liabilities.</p>
      <p>You may not (or entrust a third party), whether on non-profit purpose or not, reverse engineer, decompile or attempt to derive source code of the Software, or create derivative works of product, services, plugins, extensions, compatibility, interconnection behaviors, etc. ABC Launcher  reserves the right to charge the tort liabilities, unless you have been granted by ABC Launcher  in writing.</p>
      <br>
      <h3>Violations of Intellectual Property Rights and Terms of Service</h3>
      <p>Provided with proper notification and documentation, ABC Launcher will remove any Submission that infringes upon the intellectual property rights of another and reserves the right to remove any Submission without prior notice. ABC Launcher assumes no responsibility for monitoring the Service. In the event ABC Launcher chooses to review any Submission (such review is solely within ABC Launcher's discretion), ABC Launcher assumes no responsibility for the Submissions or any obligation to remove any inappropriate Submissions or any responsibility for the conduct of a member submitting inappropriate Submissions. At its sole discretion, ABC Launcher may remove any Submission and/or terminate a member's account for violating any of these Terms of Service at any time and without notice. ABC Launcher reserves the right, but not the obligation, to take any appropriate legal action for any illegal or unauthorized use of the Service or violation of the Terms of Service.</p>
      <p><strong>Claims of Copyright Infringement</strong></p>
      <p>If you believe that your work has been copied in a way that constitutes copyright infringement, or your intellectual property rights have been otherwise violated, please notify ABC Launcher 's Agent for Notice of claims of copyright or other intellectual property infringement ("Agent"), at:</p>
      <p>ABC Launcher Copyright Agent</p>
      <p>Email:pm@abclauncher.com</p>
      <p>Please provide our Agent with the following Notice:</p>
      <ul>
        <li>(1) Identify the copyrighted work or other intellectual property that you claim has been infringed;</li>
        <li>(2) Identify the material on ABC Launcher that you claim is infringing, with enough detail so that we may locate it on the website;</li>
        <li>(3) A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;</li>
        <li>(4) A statement by you declaring under penalty of perjury that (a) the above information in your Notice is accurate, and (b) that you are the owner of the copyright interest involved or that you are authorized to act on behalf of that owner;</li>
        <li>(5) Your address, telephone number, and email address;</li>
        <li>(6) Your physical or electronic signature.</li>
      </ul>
      <p>ABC Launcher's Agent will forward this information to the alleged infringer. It is ABC Launcher’s policy to terminate the accounts of repeat infringers.</p>
      <br>
      <h3>Termination</h3>
      <p>Should you violate or breach the TOS, ABC Launcher reserves the right, at its sole discretion and without notice, to suspend or terminate your account, any and all content and information you may have provided and your ability to access any part of ABC Launcher. The termination will not affect the obligations and liabilities you should assume before the termination.</p>
      <br>
      <h3>Disclaimer of Warranties</h3>
      <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK AND THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. UNLESS EXPRESSLY SET FORTH HEREIN, ABC Launcher MAKES NO WARRANTY, EXPRESS OR IMPLIED, WITH RESPECT TO ANY MATTER, INCLUDING WITHOUT LIMITATION ADVERTISING AND OTHER SERVICES, AND EXPRESSLY DISCLAIMS THE IMPLIED WARRANTIES OR CONDITIONS OF NONINFRINGEMENT, MERCHANTABILITY AND FITNESS FOR ANY PARTICULAR PURPOSE. ABC Launcher DOES NOT WARRANT THE RESULTS OF USE OF THE SERVICE, AND YOU ASSUME ALL RISK AND RESPONSIBILITY WITH RESPECT THERETO.</p>
      <br>
      <h3>Limitation of Liability</h3>
      <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT ABC Launcher AND ITS AFFILIATES, SUBSIDIARIES, EMPLOYEES, AND AGENTS SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES ARISING OUT OF OR RELATING TO THE BREACH OF THE TOS OR THE USING OF SERVICE, EVEN IF ABC Launcher HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
      <br>
      <h3>Indemnification</h3>
      <p>You agree to indemnify and hold ABC Launcher and its affiliates, subsidiaries, employees and agents harmless from and against any third-party claim and any related losses, costs, liabilities and expenses, including reasonable attorneys’ fees, arising out of the breach of any representations, warranties or covenants made by you.</p>
      <br>
      <h3>Governing Law and Disputes Resolution</h3>
      <p>Except to the extent that: (i) any applicable additional terms incorporated into these Terms provide differently, or (ii) the applicable laws and regulations of your jurisdiction mandate otherwise, the TOS and any dispute or claim arising out of or in connection with the TOS will be governed by the laws of the People’s Republican of China.</p>
      <p>Any dispute, controversy or claim (whether in contract, tort or otherwise) arising out of, relating to, or in connection with the TOS, including their existence, validity, interpretation, performance, breach or termination, will be referred to and finally resolved by arbitration administered by the China International Economic and Trade Arbitration Commission (CIETAC), and the place of arbitration shall be in Beijing. Within the valid period for the arbitration, such arbitration tribunal shall subject to the arbitration rules of the CIETAC in effect at the time of the arbitration. The award of the arbitration tribunal shall be final and binding upon the two parties.</p>
      <p>Please contact us at ABC Launcher should you have any questions regarding these Terms of Service.</p>
      <br>
      <h3>Contact us</h3>
      <p>If you have any suggestions, feedback or requests, please contact us on our Facebook page:</p>
      <p><a href="https://www.facebook.com/abclauncher/">https://www.facebook.com/abclauncher/</a></p>
      <p>or email us: pm@abclauncher.com</p>
      <br>
      <p style="text-align:right;">Last Updated: February 25, 2016</p>
    </div>
  </div>

  <% include footer.ejs %>
  
</div>
</body>
</html>