@import "reset.import.less";

html,body{
  height: 100%;
}
#main{
  min-height: 100%;
  position: relative;
}


.module-title{
  margin-bottom: 55px;

  h2{
    width: 506px;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #999;
    font-size: 0;

    span{
      display:inline-block;
      height: 40px;
      line-height: 40px;
      padding: 0 40px;
      background-color: #fff;
      font-size: 36px;
      color: #333;
      font-weight: normal;
      margin-top: -20px;
    }
  }
}

.content{
  padding-bottom: 150px;
  margin: 60px auto 0;

  .text{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 60px;

    p{
      margin-bottom: 10px;
    }

    img{
      float: left;
      width:300px;
      height:200px;
      margin-right: 30px;
      margin-bottom: 10px;
    }
  }
}

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}


