@import "reset.import.less";
@import "theme-list-module.import.less";


.header{
  position:absolute;
  top:0;
  left: 0;
  background: rgba(164,157,142,0.3);
}

.banner{
  height: 408px;
  padding-top: 132px;
  background: url(/images/index-banner.jpg) no-repeat center;
  background-size: cover;

  .web_link{
    width: 412px;
    float: right;
    margin-top: 38px;
    margin-right: -75px;

    a{
      color: #fff;
      font-size: 12px;
      padding-left: 98px;
    }

    p{
      height:30px;
      margin-bottom:10px;
      background: url(/images/gesture.png) no-repeat;
    }
  }
  .desc{
    float: left;
    width:620px;
  }

  h1{
    color:#fff;
    font-size: 48px;
    font-weight: normal;
    line-height: 70px;
    text-align: bottom;
    margin-bottom: 60px;

    strong{
      font-size: 72px;
      color:#2e2e2e;
      font-weight: normal;
      text-align: bottom;
    }
  }

  li{
    height: 40px;
    margin-bottom: 20px;
    line-height: 40px;
    color: #fff;

    i{
      display: inline-block;
      width:20px;
      height:20px;
      background-color: #26b14c;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 10px;
    }

    strong{
      font-size: 28px;
      vertical-align: bottom;
      font-weight: normal;
      padding-right: 16px;
    }

    span{
      font-size: 18px;
      vertical-align: bottom;
    }
  }

  .download{
    float: right;
    width:240px;
  }

  .qr-code{
    margin-bottom: 52px;
    text-align: center;

    img{
      width:120px;
      height:120px;
    }
  }

  .download-btn1{
    text-align: center;
    margin-bottom: 24px;

    a{
      display: inline-block;
      width: 90px;
      height: 50px;
      padding-right: 20px;
      padding-left: 50px;
      line-height: 50px;
      color:#fff;
      background: #26b14c url(/images/index-sprit.png) no-repeat 28px -128px;
      border-radius: 4px;
      font-size: 16px;

      &:hover{
        background-color: #16A83E;
      }
    }
  }

  .download-btn2{
    text-align: center;
    font-size: 16px;

    a{
      display: inline-block;
      width: 236px;
      height: 46px;
      border: 2px solid #fff;
      border-radius: 3px;
      color:#fff;
      line-height: 46px;
    }
  }
}

.function{
  margin: 100px auto;

  
  .desc-case{
    float: left;
    width: 29.33%;
    text-align: center;

    i{
      display: block;
      height: 110px;
      background: url(/images/function-icon.png) no-repeat;
    }
    
    strong{
      font-size: 14px;
      line-height: 24px;
    }

    p{
      font-size: 12px;
      line-height: 18px;
      text-align: center;

      span{
        display: inline-block;
        width: 160px;
      }
    }
  }

  .desc1{
    width:15%;
    margin-right: 5.66%;

    i{
      background-position: 32px 0;
    }
  }

  .desc2{
    i{
      background-position: 98px -118px;
    }
  }

  .desc3{
    i{
      background-position: 98px -236px;
    }
  }

  .desc4{
    width:15%;
    margin-left: 5.66%;

    i{
      background-position: 32px -354px;
    }
  }
}

