@import "reset.import.less";

html,body{
  height: 100%;
}
#main{
  position: relative;
  min-height: 100%;
}

.module-title{
  margin-bottom: 55px;

  h2{
    width: 506px;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #999;
    font-size: 0;

    span{
      display:inline-block;
      height: 40px;
      line-height: 40px;
      padding: 0 40px;
      background-color: #fff;
      font-size: 36px;
      color: #333;
      font-weight: normal;
      margin-top: -20px;
    }
  }
}

.content{
  margin-top: 75px;
  padding-bottom: 220px;

  .list{
  }

  li{
    padding: 25px 130px;
    border-top: 1px solid #e5e5e5;
  }

  .lasted{
    border-top: none;
  }

  .version{
    height: 50px;
    line-height: 50px;

    h3{
      float: left;
      width: 450px;
      font-size: 24px;
      font-weight: normal;
    }
    span{
      float: left;
      width: 250px;
      font-size: 18px;
      color: #999;
    }
  }
  ol{
    font-size: 14px;
    line-height: 30px;
    padding-bottom: 20px;

    li{
      padding: 0;
      border: 0;
    }
  }
  .download-btn{
    margin: 10px 0;

    a{
      display: inline-block;
      width: 90px;
      height: 50px;
      padding-right: 20px;
      padding-left: 50px;
      line-height: 50px;
      color:#fff;
      background: #26b14c url(/images/index-sprit.png) no-repeat 28px -128px;
      border-radius: 4px;
      font-size: 16px;
      text-align: center;

      &:hover{
        background-color: #16A83E;
      }
    }
  }
}

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}







