
.module-title{
  margin-bottom: 55px;

  h2{
    width: 506px;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #999;
    font-size: 0;

    span{
      display:inline-block;
      height: 40px;
      line-height: 40px;
      padding: 0 40px;
      background-color: #fff;
      font-size: 36px;
      color: #333;
      font-weight: normal;
      margin-top: -20px;
    }
  }
}

.theme{
  margin-bottom: 50px;

  .theme-more{
    text-align: right;

    a{
      display: inline-block;
      width: 160px;
      height: 40px;
      background-color: #26b14c;
      color:#fff;
      line-height: 40px;
      text-align: center;
      font-size: 16px;
      border-radius: 4px;
    }
  }

  .theme-list{
    overflow: hidden;
  }

  ul{
    width:1110px;
  }

  li{
    float: left;
    width: 160px;
    padding:12px;
    border: 1px solid #eee;
    margin-right: 85px;
    margin-bottom: 40px;
    overflow: hidden;
  
    a{
      display: block;
      width:160px;
      height:284px;
      position: relative;
      color:#fff;
      overflow: hidden;

      &:hover{
        div{
          height:100%;
          strong{
            padding-top: 100px;
          }
        }
      }
    }

    img{
      width:100%;
      height: 100%;
    }

    div{
      position: absolute;
      left: 0;
      bottom:0;
      width:100%;
      height:40px;
      background-color: rgba(0,0,0,.4);
      color:#fff;
      text-align: center;
      transition: .2s ease-in;

      strong{
        display: block;
        line-height: 40px;
        font-size: 16px;
        font-weight: normal;
      }
      p{
        padding: 12px 20px;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  .page{
    text-align: center;

    a{
      color: @baseColor;
      display: inline-block;
      padding: 5px 8px;
    }

    .select{
      color: #fff;
      background: @baseColor;
    }
  }

}

