@import "reset.import.less";
@import "theme-list-module.import.less";

.banner{
  img{
    width:1000px;
    height:200px;
  }
}

.recommend-title{
  font-size: 26px;
  color: #666;
  margin-bottom: 25px;
  font-weight: bold;
}

.content{
  margin-top: 60px;
  
  .reveal-wrap{
    margin-bottom: 100px;
  }

  .reveal-pic{
    float: left;
    width: 720px;
    position: relative;

    ul{
      height: 300px;
      padding: 30px 0;
      background-color: #FBFEF8;
      border: 1px solid #E8EFE1;
      perspective: 1500;
      -webkit-perspective: 1500;
    }

    li{
      position: absolute;
      left: 280px;
      width: 180px;
      z-index: 1;
      transition: all .6s ease-out;
      cursor: pointer;
      opacity: 0;
    }

    img{
      width: 160px;
      height: 284px;
      background-color: #fff;
      border: 2px solid #ccc;
    }
  }

  .download-btn{
    text-align: right;
    margin-top: 22px;
    
    a{
      display: inline-block;
      width: 110px;
      height: 36px;
      background-color: @baseColor;
      line-height: 36px;
      font-size: 16px;
      color:#fff;
      text-align: center;
      border-radius: 3px;
      
      &:hover{
        background: #16A83E;
      }
    }
  }

  .reveal-text{
    float: right;
    width: 190px;

    .qr-code{
      margin-bottom: 20px;

      img{
        width:110px;
        height:110px;
        margin-bottom: 12px;
      }
      p{
        font-size: 16px;
      }
    }

    h3{
      font-size: 15px;
      margin-bottom: 10px;
    }
    p{
      font-size: 14px;
      line-height: 24px;
    }
  }
}









